@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');

.Contact {
    height: 100vh;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #465173;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: #465173;

        .item {
            background-color: white;
            padding: 10px;
            width: 300px;
            border-radius: 20px;
            font-size: larger;

        span {
            font-weight: 300;
        }
    }
    }

    .formContainer {
        flex: 1;
        position: relative;
        

        .phoneSvg {
            stroke: white;
            position: absolute;
            margin: auto;
            color: white;
            z-index: -1;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
        


        input, textarea {
            padding: 20px;
            background-color: white;
            border: 1px solid white;
            color: black;
            border-radius: 5px;
          }  

          button {
            padding: 20px;
            width: 100px;
            border-radius: 50px;
            border: none;
            background-color: white;
            cursor: pointer;
            font-weight: 500;
          }
        }
    }
}